{% extends 'layout.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <div class="about-container">
        <h1>About</h1>
        <p>Welcome to our Django app where you can create and view posts.<br> This application allows users to share their thoughts and ideas by creating posts. <br> You can also view posts created by other users.</p>
        <p>Our app includes features such as user authentication, allowing you to log in and log out securely.<br> We hope you enjoy using our platform to express yourself and connect with others.</p><br>
    </div>
{% endblock %}